@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primary: #E0F4FF;
    --second-color: #87C4FF;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--second-color);
    width: 25%;
    height: 50%;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 0 0 2rem;


    @media (max-width: 600px) {
        height: 60%;
        width: 70%;
    }

    @media (min-width: 600px) {
        width: 70%;
        height: 60%;
    }

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 992px) {
        width: 40%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }

    @media (min-width: 1400px){
        height: 50%;
    }


}

.container__title{
    text-align: center;
    width: 90%;
}


.container__form{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    height: 10%;
    width: 90%;
}

#input-city{
    height: 100%;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 1rem;
}

#input-city:focus{
    outline: none;
}

.container__form_button{
    width: 15%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
}

.weather{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 0 0;
    margin-top: 2rem;
    border-top: 1px solid black;
    gap: 1rem;

    @media (max-width: 600px) {
        gap: 0.5rem;
    }
}

.weather__location{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.weather__location h2 {
    text-align: center;
}

#flagCountry{
    @media (max-width: 480px) {
       display: none;
    }
}

#icone-location{
    width: 2rem;
    height: 2rem;
}
#city{
    font-size: 1.5rem;
}

#weather__temperature{
    display: flex;
    gap: 1rem;
}

#weather__temperature i{
    font-size: 1.5rem;

    @media (max-width: 600px) {
        font-size: 1.2rem;
    }
}

#weather__temperature p{
    text-align: center;
    font-size: 1.5rem;

    @media (max-width: 600px) {
        font-size: 1.2rem;
    }
}

.weather__clima{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;

    @media (max-width: 600px) {
        height: 30%;
        width: 100%;
    }
}
#weather__clima__description{
    font-size: 1.1rem;
}

.weather__data{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        height: 20%;
        width: 100%;
    }


    @media (min-width: 1200px) {
        width: 100%;
    }
}

.weather__data__umity{
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#humidity{
    font-size: 1.2rem;


    @media (max-width: 600px) {
        font-size: 1rem;
    }
}

.weather__data__wind{
    width: 50%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#wind{
    font-size: 1.2rem;

    @media (max-width: 600px) {
        font-size: 1rem;
    }
}

